engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true
shared-workspace-lockfile=true
fetch-retries=5
fetch-timeout=600000
network-timeout=600000
onnxruntime-node-install-cuda=skip
onnxruntime-node-install=skip
